<!DOCTYPE html>
<html lang="en">
<head>
  <link th:fragment="footerStyle" rel="stylesheet" th:href="@{/styles/footer.css}"
        href="../../static/styles/footer.css">
</head>
<body>
<footer th:fragment="footer">
  <p>All right reserved &copy; CodeFellowship | Mahmoud Saadeh</p>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
          integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
          crossorigin="anonymous"></script>
</footer>
</body>
</html>