<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>

  <link rel="stylesheet" th:href="@{/styles/reset.css}"
        href="../static/styles/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:insert="fragments/navbar.html :: navbarStyle">
  <link th:insert="fragments/footer.html :: footerStyle">
  <link rel="stylesheet" th:href="@{/styles/feed.css}"
        href="../static/styles/feed.css">
</head>
<body>
<nav th:replace="fragments/navbar.html :: header"></nav>

<div class="container" th:if="${posts.size() > 0}">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 col-lg-3" th:each="post : ${posts}">
            <div class="card" style="width: 18rem;" >
                <div class="card-header post-header" >
                    <span><img src="../static/images/profile.png" th:src="@{/images/profile.png}" th:alt="${post.getApplicationUser().getFirstName()}" alt=""></span>
                    <a th:href="${'/user/' + post.getApplicationUser().getId()}">
                        <span th:text="${post.getApplicationUser().getFirstName() + ' ' + post.getApplicationUser().getLastName()}" ></span>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="'Created at: ' +${post.getFormattedDate()}"></p>
                    <p class="card-text" th:text="${post.body}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:unless="${posts.size() > 0}">
    <div class="row justify-content-md-center">
        <p>There are no posts yet.</p>
    </div>
</div>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>