/*header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    width: 100%;*/
/*    flex-wrap: wrap;*/
/*}*/
.profile-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
}

/*main{*/
/*    min-height: 600px;*/
/*}*/

/*.container div{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    word-break: break-word;*/
/*    width: 15%;*/

/*}*/
/*.container div:last-child{*/
/*    width: 55%;*/
/*}*/
/*.container div h3{*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*}*/
/*.container div >*{*/
/*    margin-bottom: 10px;*/
/*}*/

/*.container form input{*/
/*    display: block;*/
/*    text-align: center;*/
/*    margin: 10px auto;*/
/*    width: 200px;*/
/*    border: none;*/
/*    border-radius: 10px;*/
/*    height: 30px;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*    background-color: blueviolet;*/
/*}*/
/*.container label{*/
/*    display: block;*/
/*}*/
/*.container textarea{*/
/*    margin-top: 10px;*/
/*}*/

main {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    word-break: break-word;
    min-height: 370px;
}

main div{
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    flex-basis: 400px;
    text-align: center;
    padding: 15px;
}